* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
.header {
  width: 100%;
  height: 60px;
  padding: 10px;

  background-color: rgb(29, 24, 24);
}

.header__container {
  width: 80%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: #fff;
  font-size: 1.3rem;
}

.header__search {
  width: 250px;
  height: 20px;
  padding: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  align-items: center;
}

/*MAIN*/

.main__container {
  width: 80%;
  padding: 14px 0;
  margin: 0 auto;
}

.main__title {
  font-size: 1.4rem;
}

.main__grid {
  width: 100%;
  margin-top: 24px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

/*CARD*/
.main__card {
  height: 160px;
  max-height: 160px;

  border: 1px solid rgb(29, 24, 24);
  border-radius: 8px;
  padding: 14px;
}

.card__name {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 14px;
}

.card__description {
  line-height: 1.2;
  max-height: 50px;
}

.card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 14px;
}

.card__stars {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.card__star {
  margin-right: 5px;
}

.card__btn {
  display: flex;
  align-items: center;
}

.card__btn .btn {
  padding: 5px 10px;
  background-color: rgb(29, 24, 24);
  color: #fff;

  text-decoration: none;
}

.btn:hover {
  opacity: 0.9;
}

.card__languages {
  color: purple;
  font-weight: bold;
}